<h1>My Published Courses</h1>

<% if @results != nil %>
  <ul>
  <% @results[:courses].each do |c| %>
  	<% if c[:is_published] %>
	  	<p><b>Course Name:</b> <%= c[:name] %></p>
	  	<p><b>Heading:</b> <%= c[:heading] %></p>
	  	<p><b>Enrolled Students:</b> </p>
	  		<% if @student_results[c[:id]] != nil %>
	  			<% @student_results[c[:id]].each do |s| %>
	  				<p>Name: <%= s[:name] %></p>
	  				<p>Email: <%= s[:email] %></p>
	  				<br>
	  			<% end %>
	  		<% end %>
	  	<br>
	  <% end %>
  <% end %>
  </ul>
<% else %>
  <p>No courses yet</p>
<% end %>