<h1>My Published Courses</h1>

<% if @results != nil %>
  <ul>
  <% @results[:courses].each do |c| %>
  	<% if c[:is_published] %>
	  	<p>name: <%= c[:name] %></p>
	  	<p>heading: <%= c[:heading] %></p>
	  	<br>
	  <% end %>
  <% end %>
  </ul>
<% else %>
  <p>No courses yet</p>
<% end %>